[
    "CHR_EDMOND",
    "CHR_FARIA",
    "CHR_JACOPO",
    "CHR_ALI",
    "CHR_BERTUCCIO",
    "CHR_HAYDEE",
    "CHR_MAXIMILIEN",
    "CHR_ALBERT",
    "CHR_VAMPA",
    "CHR_PEPPINO",
    "CHR_SELIM",
    "CHR_VALENTINE",
]
