SpawnTable(
    region: "R06",
    chapter_stage: 1,
    pool: 1,
    entries: [
        (enemy: "ENM_ARISTOCRAT", weight: 18, gate: Always),
        (enemy: "ENM_DANCING_MASTER", weight: 12, gate: Always),
        (enemy: "ENM_GIANT_RAT", weight: 11, gate: Always),
        (enemy: "ENM_ROYAL_GUARD", weight: 19, gate: Always),
    ],
)
